*{
    margin: 0; 
    padding: 0;
    text-decoration: none;
}

    .box1 { 
    width: 100%;
    height: 1079px;
    background-image: url('img/bg_01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    }

    .box2 { 
    height: 1995px;
    width: 100%;
    background-image: url('img/bg_02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    }

    .box3 { 
    height: 1006px;
    width: 100%;
    background-image: url('img/bg_03.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    }

    .box4 { 
    height: 849px;
    width: 100%;
    background-image: url('img/bg_04.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    }

    .box5 { 
    height: 919px;
    width: 100%;
    background-image: url('img/bg_05.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        
    }

    footer {
    height: 144px;
    width: 100%;
    background-image: url('img/bg_06.png');
    display: flex;
    justify-content: center;
    align-items: center;
        
    }

    .align_ct {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box1 > .wrap {
        position: absolute;
        width: 1920px;
        height: 1079px;
    }

    .con1_1 {
        position: absolute;
        left: 535px;
        top: 257px;

     }

    .con1_2 {
        position: absolute;
        right: 411px;
        bottom: 804px;
    }


    .box2 > .wrap {
        position: absolute;
        width: 1920px;
        height: 1995px;
    }


    .con2_1 {
        position: absolute;
        left: 458px;
        top: 91px;

     }

    .con2_2 {
        position: absolute;
        right: 407px;
        bottom: 620px;
    }

    .con2_3 {
        position: absolute;
        left: 500px;
        bottom: 78px;
        display: flex;
    }

    .con2_3 > p {
        position: absolute;
        left: 500px;
        bottom: 0px;
        width: 430px;
        font-style: Noto Sans KR;
        font-weight: Medium;
        font-size: 22px;
        color: #215c88;
        letter-spacing: 0em;
        line-height: 1.5909090909090908;
    
    }



    .box3 > .wrap {
        position: absolute;
        width: 1920px;
        height: 1006px;

    }


    .con3_1 {
        position: absolute;
        left: 760px;
        top: 85px;

     }

     .con3_2 {
        position: absolute;
        left: 676px;
        bottom: 85px;

     }

     .con3_3 > p {
        text-align: center;
        position: absolute;
        left: 500px;
        top: 414px;
        width: 920px;
        font-style: Noto Sans KR;
        font-weight: Medium;
        font-size: 22px;
        color: #ffffff;
        letter-spacing: 0em;
        line-height: 1.5909090909090908;

     }

     .box4 > .wrap {
        position: absolute;
        width: 1920px;
        height: 849px;

    }


    .con4_1 {
        position: absolute;
        left: 748px;
        top: 49px;

     }

     .con4_2 {
        position: absolute;
        left: 410px;
        top: 385px;

    }

    .con4_3 > p {
        text-align: center;
        position: absolute;
        left: 410px;
        top: 243px;
        bottom: 539px;
        width: 1100px;
        font-style: Noto Sans KR;
        font-weight: Medium;
        font-size: 22px;
        color: #215c88;
        letter-spacing: 0em;
        line-height: 1.5909090909090908;

    } 

     .box5 > .wrap {
        position: absolute;
        width: 1920px;
        height: 919px;

    }





    
    


     

   
     


